

.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Franklin Gothic Medium";
}

.text-smaller{
    -fx-font-size: 11px;
    -fx-font-family: "Franklin Gothic Medium";
}

.text-smaller:pressed {
    -fx-background-color: #D0D0D0
}

.text-larger{
    -fx-font-size: 15px;
    -fx-font-family: "Franklin Gothic Medium";
}

.text-title{
    -fx-font-size: 20px;
    -fx-font-family: "Franklin Gothic Medium";
}

#logo{
    -fx-font-size: 48px;
    -fx-font-family: "Phosphate";
}

#logo-twirl{
    -fx-font-size: 64px;
    -fx-font-family: "SignPainter";
    -fx-text-fill: #FFAC33;
    -fx-rotate: -20;
}

.text-area .content {
    -fx-background-color: -fx-background;
    -fx-padding: 0px;
    -fx-wrap-text: false;
    -fx-text-overrun: ellipsis;
}

.text-area  {
    -fx-background-color: -fx-background;
    -fx-margin: 0px;
    -fx-text-overrun: ellipsis;
}

.label {
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}


.recipe-list-item:hover {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
    -fx-background-color: #FCFCFC;
}
